
AnimationSwift.xcodeproj/project.xcworkspace/xcuserdata/HKmac.xcuserdatad/UserInterfaceState.xcuserstate
AnimationSwift.xcodeproj/project.xcworkspace/xcuserdata/HKmac.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
